#about {
  position: relative;
  background-color: var(--surface-color);
  --px-base: 2rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: var(--surface-color);
    z-index: -1;
  }

  & img:nth-child(1) {
    width: 7.5rem;
    height: 7.5rem;
  }

  & h2 {
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  & p {
    font-family: var(--ff-sans);
    font-size: var(--fs-sm);
    line-height: 1.7;
    color: var(--text-color-secondary);
  }

  & .icons {
    & img {
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 1rem;
    }

    & span {
      color: var(--text-color-secondary);
      margin-bottom: 1rem;
      font-size: var(--fs-sm);
    }
  }
}

@media (width >= 80em) {
  #about {
    & img:nth-child(1) {
      width: 11rem;
      height: 11rem;
    }

    & > div {
      max-width: 37rem;
      gap: 2rem;
    }

    & .icons {
      width: 280px;
      justify-items: center;
      margin-left: auto;

      & img {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 1rem;
      }

      & span {
        margin-bottom: 1rem;
        font-size: var(--fs-sm);
      }
    }
  }
}
