#about {
  --px-base: 2rem;

  & img:nth-child(1) {
    width: 7.5rem;
    height: 7.5rem;
  }

  & h2 {
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  & p {
    font-family: var(--ff-sans);
    font-size: var(--fs-base);
    line-height: 1.7;
    color: var(--text-color-secondary);
  }

  & .icons {
    & img {
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 1rem;
    }

    & span {
      color: var(--text-color-secondary);
      margin-bottom: 1rem;
    }
  }
}

@media (width >= 80em) {
  #about {
    & img:nth-child(1) {
      width: 11rem;
      height: 11rem;
    }

    & > div {
      max-width: 37rem;
      gap: 2rem;
    }

    & .icons {
      width: 280px;
      justify-items: center;
      margin-left: auto;

      & img {
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 1rem;
      }

      & span {
        margin-bottom: 1rem;
      }
    }
  }
}
