footer {
  text-align: center;
  font-size: var(--fs-sm);
  color: var(--text-color-secondary);
  justify-content: center;
}

@media (width >=80em) {
  footer {
    & div {
      margin-left: auto;
    }
  }
}
