* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --brand-color: #ef5f4c;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff70;

  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  /* Font */

  --ff-sans: "Poppins", sans-serif;

  /* Weight */
  --fw-base: 400;
  --fw-bold: 700;

  /* Size */
  --fs-base: 0.875rem;
  --fs-xl: 1.5rem;

  /* Espaçamento Lateral */
  --px-base: 1rem;

  /* Espaçamento vertical */
  --py-base: 1rem;
  --py-lg: 2rem;
}

html {
  /* Base */
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.7;
  color: var(--text-color-primary);
}

@media (width >= 80em) {
  :root {
    --fs-xl: 2rem;

    --px-base: 2rem;

    --py-base: 1.5rem;
  }
}
