header {
  background-color: var(--surface-color);

  & h1 {
    color: var(--brand-color);
  }
  & #logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }

  & nav {
    margin-left: auto;

    gap: 1rem;
  }
  & img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
