.px-base {
  padding-block: var(--px-base);
}

.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.desktop-only {
  display: none;
}

.flex {
  display: flex;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.items-center {
  align-items: center;
}

.even-columns {
  display: grid;
}

.container {
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-template-columns: auto 1fr;
  }
}
